{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- Inincio Home -->
<section class="landing_page d-flex align-items-center" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="landing_page-text" data-aos="fade-up">
                    <h1> {{text}}</h1>
                    <p>{{subtext}}</p>
                    <div class="landing_page-btn">
                        <a href="{% url 'orcamento' %}" class="btn btn-1">
                            FAÇA SEU ORÇAMENTO 
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Home -->
<!-- Inicio Sobre Nós -->
<section class="section-padding" id="aboutUs" data-scroll-index="2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="background-color: aqua;">
                <p>Página web que aparece em resposta ao clique em um resultado 
                    de busca de um mecanismo de pesquisa otimizado, promoção de 
                    marketing, e-mail de marketing ou um anúncio online. 
                    A página de destino geralmente exibirá uma cópia de vendas 
                    direcionadas que é uma extensão lógica do anúncio, resultado 
                    de pesquisa ou link. As páginas de destino são usadas para 
                    geração de leads. As ações que um visitante realiza em uma 
                    página de destino é o que determina a taxa de conversão de 
                    um anunciante. Uma página de destino pode ser parte de um 
                    microsite ou uma única página no site principal de uma 
                    organização.</p>
            </div>
            <div class="col-lg-6">
                02
            </div>
        </div>
        <h3>Exemplos de Landings Pages</h3>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <p>Páginas únicas geradas para um utilizador para alteração de dados pessoais, muito usadas na recuperação de palavras-chave.</p>
            </div>
            <div class="col-lg-4">
                <p>Páginas com códigos promocionais únicos, usadas para a compra de artigos com promoções.</p>
            </div>
            <div class="col-lg-4">
                <p>Páginas de validação de contas e dados pessoais, usadas para garantir a integridade de dados.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fim Sobre Nós -->

{% endblock %}