/**
* Author: Luana Rodrigues Almeida
* Email: luanarodrigues3211@gmail.com
* video: https://www.youtube.com/watch?v=an0_u96ac8A&t=7922s
*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  /* --main-color: #7857fe; */
  --main-color: #8e2de2;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #25d366;
  --bg-dark: #2d2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --block-900: #000000;
  --block-400: #555555;
  --block-100: #f7f7f7;
  --block-000: #ffffff;
  --block-alpha-100: rgba(0, 0, 0, 0.05);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--block-000);
  line-height: 1.5;
  /* background: url(../img/gradiente.png) top right no-repeat; */
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.btn-1 {
  background-color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
}
.btn-1:focus {
  box-shadow: var(--shadow-black-300);
}
.btn-1:hover {
  color: #ffffff;
  background-color: var(--color-3);
}
.btn-2 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
}
.btn-2:focus {
  box-shadow: var(--shadow-black-300);
}
.btn-2:hover {
  color: var(--main-color);
  background-color: #ffffff;
}
.btn-3 {
  background-color: var(--color-1);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
}
.btn-3:focus {
  box-shadow: var(--shadow-black-300);
}
.btn-3:hover {
  color: var(--main-color);
  background-color: #ffffff;
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
.section-padding {
  padding: 80px 0;
}
.div-padding {
  padding-top: 80px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--block-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
.section-title h2 span {
  color: var(--main-color);
}
.section-title p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: var(--block-400);
  margin: 0 0 15px;
  text-align: center;
}
.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #dddddd !important;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}
.owl-carousel button.owl-dot.active {
  background-color: var(--main-color) !important;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
}
.navbar > .container {
  padding: 0 15px;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: var(--block-000);
  font-weight: 500;
  text-transform: capitalize;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active:hover::before {
  transform: scale(1);
}
/*--------------------------------------------------------------
# Index/Home
--------------------------------------------------------------*/
.home {
  min-height: 100vh;
  padding: 150px 0;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
}
.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}
.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}
.home-img img {
  max-width: 850px;
  width: 100%;
  animation: bounceTop_01 3s ease infinite;
}
.home-img {
  position: relative;
}
.home .home-btn {
  margin-top: 40px;
}
/*--------------------------------------------------------------
# Index/Clientes
--------------------------------------------------------------*/
.clientes-item {
  margin: 15px;
  padding: 30px;
  text-align: center;
}
.clientes-item .clientes-img-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px;
  border-radius: 50px;
}
.clientes-item .clientes-img-box img {
  border-radius: 50%;
  width: 100%;
}
/*--------------------------------------------------------------
# Index/Services
--------------------------------------------------------------*/
.services-padding {
  padding-bottom: 40px;
}
.services-item {
  background-color: var(--block-000);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow-black-100);
  height: 20rem;
}
.services-item i {
  font-size: 30px;
  color: var(--main-color);
  display: inline-block;
}
.services-item h3 {
  font-size: 22px;
  color: var(--block-900);
  margin: 20px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.services-item p {
  font-weight: 400;
  color: var(--block-400);
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 26px;
}
.services-item a {
  color: var(--main-color);
  font-weight: 600;
  text-decoration: none;
}
/*--------------------------------------------------------------
# index/emphasis/destaques
--------------------------------------------------------------*/
.emphasis-facts {
  background-color: var(--block-100);
}
.emphasis-fact-img img {
  width: 100%;
}
.emphasis-fact-text {
  margin-bottom: 30px;
}
.emphasis-fact-text h3 {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 10px;
  color: var(--main-color);
}
.emphasis-fact-text p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.emphasis-fact-itens {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}
.emphasis-fact-itens i {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 24px;
  color: var(--main-color);
  border: 1px solid --main-color;
  text-align: center;
  line-height: 38px;
  left: 0;
  top: 0;
}
/*--------------------------------------------------------------
# index/portfolio
--------------------------------------------------------------*/
.portfolio-item {
  padding: 5px;
  border-radius: 5px;
}
.portfolio-padding {
  padding-bottom: 40px;
}
.portfolio-item img {
  width: 560px;
  height: 260px;
  object-fit: cover;
}
.portfolio-item h3 {
  font-size: 18px;
  color: var(--block-900);
  font-weight: 700;
  margin: 15px 0 5px;
  text-transform: capitalize;
}
.portfolio-item span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--block-400);
  text-transform: capitalize;
  padding-bottom: 10px;
}
.portfolio-item a {
  text-decoration: none;
}
.btn-portfolio {
  background-color: var(--main-color);
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 400;
}
.btn-portfolio:focus {
  box-shadow: var(--shadow-black-300);
}
.btn-portfolio:hover {
  color: var(--main-color);
  background-color: #ffffff;
}
/*--------------------------------------------------------------
#index/depoiments
--------------------------------------------------------------*/
.depoiments {
  background-color: var(--block-100);
}
.depoiments-item {
  margin: 15px;
  padding: 30px;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  text-align: center;
}
.depoiments-item .img-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px solid var(--main-color);
  border-radius: 50px;
}
.depoiments-item .img-box img {
  border-radius: 50%;
  width: 100%;
}
.depoiments-item p {
  font-size: 16px;
  margin: 0 0 20px;
  color: var(--block-400);
  line-height: 26px;
  font-weight: 300;
}
.depoiments-item h3 {
  font-size: 22px;
  color: var(--block-900);
  font-weight: 500px;
  margin: 0 0 5px;
  text-transform: capitalize;
}
.depoiments-item span {
  display: block;
  font-size: 16px;
  color: var(--block-400);
  font-weight: 300;
}
.depoiments-item .rating {
  margin-top: 10px;
}
.depoiments-item .rating i {
  display: inline-block;
  font-size: 16px;
  color: var(--color-2);
}
/*--------------------------------------------------------------
# index/FAQ
--------------------------------------------------------------*/
.faq .accordion-item:not(:last-child) {
  margin-bottom: 20px;
}
.faq .accordion-header {
  box-shadow: var(--shadow-black-100);
  padding: 20px 50px 20px 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}
.faq .accordion-header::before {
  content: "\2b";
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  color: var(--block-400);
}
.faq .accordion-header:not(.collapsed)::before {
  content: "-";
  color: #ffffff;
}
.faq .accordion-header:not(.collapsed) {
  background-color: var(--main-color);
  box-shadow: none;
}
.faq .accordion-header:not(.collapsed) h3 {
  color: #f7f7f7;
}
.faq .accordion-header h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--block-400);
  margin: 0;
  transition: all 0.5s ease;
}
.faq .accordion-body {
  padding: 20px 30px;
  background-color: var(--block-100);
}
.faq .accordion-body p {
  font-weight: 300;
  font-size: 16px;
  color: var(--block-400);
  line-height: 26px;
  margin: 0;
}
/*--------------------------------------------------------------
# landing_page/Sobre Nós
--------------------------------------------------------------*/
.landing_page {
  min-height: 100vh;
  padding: 150px 0;
  background: #8e2de2;
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);

  border-radius: 0 0 200px 0;
  position: relative;
  z-index: 1;
}
.landing_page-text h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}
.landing_page-text p {
  text-align: center;
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  font-weight: 400;
}
/* .landing_page-img img {
  max-width: 850px;
  width: 100%;
  animation: bounceTop_01 3s ease infinite;
}
.landing_page-img {
  position: relative;
} */
.landing_page .landing_page-btn {
  text-align: center;
  margin-top: 40px;
}

/*--------------------------------------------------------------
# Sobre Nós
--------------------------------------------------------------*/
.aboutUs-item h4 {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 10px;
  color: var(--main-color);
  padding: 0 0 20px;
}
.aboutUs-itemp p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.aboutUs-item span {
  font-weight: 600;
  color: var(--block-900);
}
.aboutUs-img img {
  width: 100%;
}
/*--------------------------------------------------------------
# Missão visao e valores / serviços
--------------------------------------------------------------*/
.miss-vis-val {
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.miss-vis-val .section-title h2 {
  color: var(--block-900);
}
.miss-vis-val .section-title span {
  color: #ffffff;
}
.miss-vis-val::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--main-to-dark-color);
  opacity: 0.8;
}
.miss-vis-val-item {
  background-color: var(--block-000);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow-black-100);
  height: 20rem;
}
.miss-vis-val-item i {
  font-size: 30px;
  color: var(--main-color);
  display: inline-block;
}
.miss-vis-val-item h3 {
  font-size: 22px;
  color: var(--block-900);
  margin: 20px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.miss-vis-val-item p {
  font-weight: 400;
  color: var(--block-400);
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 26px;
}
.miss-vis-val-item span {
  font-weight: 600;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: var(--block-100);
}
.contact-info h3 {
  font-size: 20px;
  color: var(--block-900);
  font-weight: 500;
  margin: 0 0 40px;
}
.contact-info-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}
.contact-info-item i {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid --main-color;
  text-align: center;
  line-height: 38px;
  left: 0;
  top: 0;
}
.contact-info-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: var(--block-900);
}
.contact-info-item p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.contact-form .form-group {
  margin-bottom: 25px;
}
.contact-form .control-label {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.contact-form #id_nome,
#id_email,
#id_telefone {
  height: 52px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 24px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.contact-form #id_mensagem {
  padding-top: 12px !important;
  height: 140px;
  resize: none;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 24px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.contact-form #id_nome:focus,
#id_email:focus,
#id_telefone:focus,
#id_mensagem:focus {
  border-color: var(--main-color);
}
/*--------------------------------------------------------------
# Orçamento-footer
--------------------------------------------------------------*/

.orcamento-footer {
  background-color: var(--block-100);
}
.orcamento-fa i {
  padding-left: 20px;
}
.orcamento-footer-title h4 {
  font-size: 50px;
  color: var(--block-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
.orcamento-footer-title p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: var(--block-400);
  margin: 0 0 15px;
  text-align: center;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px 0;
}
.footer-col h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 25px;
  text-transform: capitalize;
}
.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}
.footer-col ul {
  margin: 0;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li i {
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid --main-color;
  text-align: center;
  /* line-height: 38px; */
  left: 0;
  top: 0;
}
.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li a:hover {
  padding-left: 5px;
}
.footer .copyright {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin: 50px 0 0;
  border-top: 1px solid rgba(255, 255, 225, 0.2);
}

/*--------------------------------------------------------------
# WhatsApp
--------------------------------------------------------------*/
.button-whasapp {
  right: 25px;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  background-color: var(--color-3);
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: var(--shadow-black-300);
  z-index: 100;
  margin-top: 16px;
}
.button-whasapp .my-float {
  margin-top: 16px;
  color: #ffffff;
}
/*--------------------------------------------------------------
# Responsividade
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .navbar-toggler {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: #ffffff;
  }
  .navbar-nav {
    background-color: var(--dark-to-main-color);
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: var(--main-color);
  }
  .home-text h1 {
    font-size: 40px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .miss-vis-val-item,
  .services-content {
    margin-bottom: 30px;
  }
  .aboutUs-item {
    padding: 20px;
  }
  .aboutUs-item h4 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .home-text {
    margin-bottom: 80px;
  }
  .contact-form {
    margin-top: 20px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .button-whasapp {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 25px;
  }
  .button-whasapp .my-float {
    margin-top: 10px;
  }
  .services-content {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .home-text h1 {
    margin-bottom: 30px;
  }
  .home-text p {
    margin-bottom: 16px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .button-whasapp {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 25px;
  }
  .button-whasapp .my-float {
    margin-top: 10px;
  }
}
