/**
* Author: Luana Rodrigues Almeida
* Email: luanarodrigues3211@gmail.com
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --color-predominant: ##ffffff;
  --color-secound: #22e9d5;
  --color-tree: #7e2beb;
  --color-font: #040404;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--color-predominant);
  font-family: "Open Sans", sans-serif;
  /* background: url(../img/gradiente.png) top right no-repeat; */
}
section {
  width: 100%;
  height: 90vh;
}
a {
  text-decoration: none;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff !important;
}
.navbar-brand h1 {
  color: var(--color-three);
}
li {
  padding-right: 1rem;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}
li a {
  text-decoration: none;
  color: var(--color-two);
  padding: 20px;
  font-size: 14px;
}
/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.space {
  padding-top: 7rem;
}
.home h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  color: var(--color-font);
}
.home p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  color: var(--color-font);
}
.home .btn-success {
  background-color: #34af23;
  border-color: #34af23;
}
.home .btn:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}
/*--------------------------------------------------------------
# Serviços
--------------------------------------------------------------*/
.title {
  padding-top: 3.5em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.title h1 {
  color: var(--color-font);
  font-size: 20px;
}
.title span {
  color: var(--color-tree);
}
.card {
  border-radius: 1.3rem;
  border-color: var(--color-secound);
  font-family: "Montserrat", sans-serif;
}
.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  border-color: var(--color-secound);
}
.card .btn {
  background-color: var(--color-secound);
  color: #fff;
}
.col {
  padding: 2em;
}
.card a {
  color: slategray;
}
.card a:hover {
  color: var(--color-secound);
}
img {
  height: 20rem;
}
