{% extends 'base.html' %}
{% load static %}
{% load bootstrap %} 

{% block main %}
<!-- Inicio Contact -->
<section class="contact section-padding" id="contact" data-scroll-index="5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Fale <span>Conosco</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info">
                    <h3>Duvidas e informações</h3>
                    <div class="contact-info-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <h4>Localização da empresa</h4>
                        <p>Conjunto Raimundo Portela, Teresina - PI</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <h4>Endereço de Email</h4>
                        <p>info@gmail.com</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Número de telefone</h4>
                        <p>99 9999 9999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <form action="{% url 'cliente_novo' %}" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <!--Seguranca-->
                                    {% csrf_token %}
                                    {{ form|bootstrap }}
                                        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-2">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            <!-- alerta -->
        <!-- {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
            {% endfor %}
        {% endif %} -->
        <!--Fim Alerta -->
        </div>
    </div>

</section>
<!-- Fim Contact -->
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.7093941613716!2d-42.79213658523586!3d-5.150395696262425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38b954eb7caa9521!2sPadr%C3%A3o%20Agencia%20Digital!5e0!3m2!1spt-BR!2sbr!4v1636394639940!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

{% endblock %}