{% extends 'base.html' %}
{% load static %}
{% load bootstrap %} 

{% block main %}         
<!-- Inincio Home -->
<section class="home d-flex align-items-center" id="home" data-scroll-index="0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="home-text">
                    <h1> Fazemos o Site Ideal Para Seu Cliente Encontrar Sua Empresa</h1>
                    <p>As pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web. Se você não tem um site, você está perdendo 
                        todo esse potencial de negócio.</p>
                    <div class="home-btn">
                        <a href="#" class="btn btn-1">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Entre em Contato</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 text-center">
                <div class="home-img">
                    <div class="circle"></div>
                    <img src="{% static 'img/Artboard.png' %}" alt="padrao">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Home -->
<!-- Inicio Services -->
<section class="services section-padding" id="services" data-scroll-index="1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Nossos <span>Serviços</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel services-carousel">
                <div class="services-item">
                    <div class="icon"><i class="fa fa-code" aria-hidden="true"></i></div>
                    <h3>Serviço 01</h3>
                    <p>s pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web.
                    </p>
                        <!-- <a href="">Saiba Mais</a> -->
                </div>
                <div class="services-item">
                    <div class="icon"><i class="fa fa-edit" aria-hidden="true"></i></div>
                    <h3>Serviço 02</h3>
                    <p>s pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web.</p>
                </div>
                <div class="services-item">
                    <div class="icon"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
                    <h3>Serviço 03</h3>
                    <p>s pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web.</p>
                </div>
                <div class="services-item">
                    <div class="icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <h3>Serviço 04</h3>
                    <p>s pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fim services -->
<!-- Inicio emphasis/destaques -->
<section class="emphasis-facts section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Seu site <br> <span>em qualquer lugar</span></h2>
                    <p>Sites com desig responsivos que se ajustam a qualquer dispositivo, seja em 
                        smartphone, tablet, notebooks e computadores.
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-cente">
            <div class="col-lg-6 col-md-5">
                <div class="emphasis-fact-img">
                    <img src="{% static 'img/art-direction-removebg-preview.png' %}" alt="destaques">
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="emphasis-fact-text">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens">
                                <h3>Site estilo App</h3>
                                <span>
                                    Melhor experiência de navegação pelo seu cliente.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens style-1">
                                <h3>Fidelização</h3>
                                <span>
                                    Maior taxa de fidelização a sua marca pelos seus clientes.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens style-1">
                                <h3>Administração</h3>
                                <span>Você adiciona e administra seu site em tepo real.</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens style-1">
                                <h3></h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim emphasis -->
<!-- Inicio Sobre Nós -->
<section class="aboutUs section-padding" id="aboutUs" data-scroll-index="2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Quem <span>Somos</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Sobre Nós -->
<!-- Inicio portfolio -->
<section class="portfolio section-padding" id="portfolio" data-scroll-index="3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Portifólio <span>de sites</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel portfolio-carousel">
                {% for i in portifolios %}
                    <div class="portfolio-item">
                        <a href="{{i.link}}">
                            <img class="img-fluid" src="{{i.image.url}}" alt="portfolio">
                            <h3>{{i.empresa}}</h3>
                            <span>{{i.cidade}} - {{i.estado}}</span>
                        </a>
                    </div>
                    {% endfor %}
            </div>
        </div>
        
    </div>
</section>
<!-- Fim portfolio -->
<!--Inicio FAQ -->
<section class="faq section-padding" id="faq" data-scroll-index="4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title">
                    <h2>Perguntas <span>Frequentes</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div id="accordion">
                    <div class="accordion-item">
                        <div class="accordion-header" data-toggle="collapse" 
                        data-target="#collapse-01">
                            <h3>100% Responsivo</h3>
                        </div>
                        <div class="collapse show" id="collapse-01" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-02">
                            <h3>Flat Modern</h3>
                        </div>
                        <div class="collapse" id="collapse-02" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-03">
                            <h3>Clear Code</h3>
                        </div>
                        <div class="collapse" id="collapse-03" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-04">
                            <h3>FAQ 4</h3>
                        </div>
                        <div class="collapse" id="collapse-04" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fim FAQ -->
<!-- Inicio Contact -->
<section class="contact section-padding" id="contact" data-scroll-index="5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Fale <span>Conosco</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info">
                    <h3>Duvidas e informações</h3>
                    <div class="contact-info-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <h4>Localização da empresa</h4>
                        <p>Conjunto Raimundo Portela, Teresina - PI</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <h4>Endereço de Email</h4>
                        <p>info@gmail.com</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Número de telefone</h4>
                        <p>99 9999 9999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <form action="{% url 'cliente_novo' %}" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <!--Seguranca-->
                                    {% csrf_token %}
                                    {{ form|bootstrap }}
                                        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-2">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            <!-- alerta -->
        <!-- {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
            {% endfor %}
        {% endif %} -->
        <!--Fim Alerta -->
        </div>
    </div>

</section>
<!-- Fim Contact -->
{% endblock %}