{% extends 'base.html' %}
{% load static %}
{% block main %} 
{% load bootstrap %} 
<!-- Inincio Home -->
<section class="home d-flex align-items-center">
    <div class="effects-wrap">
        <i class="fa fa-plus effect effect-1" aria-hidden="true"></i>
        <i class="fa fa-plus effect effect-1" aria-hidden="true"></i>
        <i class="fa fa-circle-o-notch effect effect-1" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="home-text">
                    <h1> Fazemos o Site Ideal Para Seu Cliente Encontrar Sua Empresa</h1>
                    <p>As pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web. Se você não tem um site, você está perdendo 
                        todo esse potencial de negócio.</p>
                    <div class="home-btn">
                        <a href="#" class="btn btn-1">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Entre em Contato</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 text-center">
                <div class="home-img">
                    <div class="circle"></div>
                    <img src="{% static 'img/Artboard.png' %}" alt="padrao">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Home -->
{% endblock %}