{% extends 'base.html' %}
{% load static %}
{% load bootstrap %} 

{% block main %}         
<!-- Inincio Home -->
<section class="home d-flex align-items-center" id="home" data-scroll-index="0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="home-text">
                    <h1> Fazemos o Site Ideal Para Seu Cliente Encontrar Sua Empresa</h1>
                    <p>As pessoas sao susceptíveis de encontrar uma empresa que tem uma 
                        presença na web. Se você não tem um site, você está perdendo 
                        todo esse potencial de negócio.</p>
                    <div class="home-btn">
                        <a href="#" class="btn btn-1">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Entre em Contato</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <div class="home-img">
                    <div class="circle"></div>
                    <img src="{% static 'img/preview.png' %}" alt="padrao">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Home -->
<!-- Inicio Services -->
<section class="services section-padding" id="services" data-scroll-index="1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Nossos <span>Serviços</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-content">
                    <div class="services-header">
                        <h4>Criação de Sites</h4>
                    </div>
                    <div class="services-item">
                        <p>Fazemos o site da sua empresa</p>
                    </div>
                    <div class="services-body">
                        <ul>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> 
                                Landing Pages</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> 
                                Sites Para Todos os Dispositivos</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> Layout Exclusivo</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> Gestão de Conteúdos</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> Feito Sob Medida Para o Seu Negócio</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-content">
                    <div class="services-header">
                        <h4>SEO</h4>
                    </div>
                    <div class="services-item">
                        <p>Otimização Por Mecanismos de Busca </p>
                    </div>
                    <div class="services-body">
                        <ul>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>Seu Negócio Visto Pelo Seu Cliente</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>Tecnicas de SEO</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> 
                                Melhor Posição do Seu Site nos Resultados do Google
                            </li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>Google Meu Negócio</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>Conquiste Mais Clientes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-content">
                    <div class="services-header">
                        <h4>Hospedagem</h4>
                    </div>
                    <div class="services-item">
                        <p>Hospedamos seu site</p>
                    </div>
                    <div class="services-body">
                        <ul>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>Armazenamento de Dados do Seu Site</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i> Domínio</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>SSL</li>
                            <li> <i class="fa fa-check" aria-hidden="true"></i>Suporte</li>
                            <!-- <li> <i class="fa fa-check" aria-hidden="true"></i> item 1</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fim services -->
<!-- Inicio emphasis/destaques -->
<section class="emphasis-facts section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Seu site <br> <span>em qualquer lugar</span></h2>
                    <p>Sites com design responsivos que se ajustam a qualquer dispositivo, seja em 
                        smartphone, tablet, notebooks e computadores.
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-cente">
            <div class="col-lg-6 col-md-5">
                <div class="emphasis-fact-img">
                    <img src="{% static 'img/art-direction-removebg-preview.png' %}" alt="destaques">
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="emphasis-fact-text">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <h3>Site estilo App</h3>
                                <p>Melhor experiência de navegação pelo seu cliente.</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens">
                                <i class="fa fa-comments" aria-hidden="true"></i>  
                                <h3>Fidelização</h3>
                                <p>Maior taxa de fidelização a sua marca pelos seus clientes.</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <h3> Administração</h3>
                                <p>Você adiciona e administra seu site em tepo real.</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="emphasis-fact-itens style-1">
                                <h3></h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim emphasis -->
<!-- Inicio Sobre Nós -->
<section class="aboutUs section-padding" id="aboutUs" data-scroll-index="2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Quem <span>Somos</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="aboutUs-item">
                    <h4>Somos uma empresa especializada em criação de Sites</h4>
                    <p>A <span>Padrão Agencia Digital</span> tem como objetivo conectar sua empresa 
                    com os seus clietes, no meio digital, mostrando seus serviços e valores. 
                    </p>
                    <p>
                    Usamos layots simples e design responsivo que atende todos os dispositivos 
                    para que seu cliente seja bem informado da melhor forma.
                    </p>
                    <p>
                    O nosso objetivo é simplificar as tarefas de ter um site como: a criação do
                    site, hospedagem e dominio. Temos uma equipe especializada para conversar com você.
                    </p>
                    <a href="#contact" class="btn btn-2">Orçamento Online!</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="aboutUs-img">
                    <img src="{% static 'img/teste.jpg' %}" alt="">
                </div>
                
            </div>
        </div>
        <div class="row justify-content-center">
        </div>
    </div>
</section>
<section class="miss-vis-val section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Nossos <span>Valores</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="miss-vis-val-item">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <h3>Missão</h3>
                    <p>Ser referência na criação de sites que 
                        proporcione geração de valores e um sólido 
                        relacionamento entre empresa e clientes.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="miss-vis-val-item">
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <h3>Visão</h3>
                    <p>
                        Ser uma empresa reconhecida pela qualidade de nossos produtos, 
                        compromentendo-se com a satisfação 
                        de nossos clientes fornecedores e colaboradores.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="miss-vis-val-item">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    <h3>Valores</h3>
                    <p>
                        <span>Integridade</span> com os dados dos nossos usuários, 
                        buscando sempre a melhoria contínua, <span>resultados</span>
                        e compromisso com a <span>qualidade</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Sobre Nós -->
<!-- Inicio portfolio -->
<section class="portfolio section-padding" id="portfolio" data-scroll-index="3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Portifólio <span>de sites</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel portfolio-carousel">
                {% for i in portifolios %}
                    <div class="portfolio-item">
                        <img class="img-fluid" src="{{i.image.url}}" alt="portfolio">
                        <h3>{{i.empresa}}</h3>
                        <span>{{i.cidade}} - {{i.estado}}</span>
                        <a href="{{i.link}}" class="btn btn-2">Saiba Mais</a>
                    </div>
                    {% endfor %}
            </div>
        </div>
        
    </div>
</section>
<!-- Fim portfolio -->
<!--Inicio FAQ -->
<section class="faq section-padding" id="faq" data-scroll-index="4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title">
                    <h2>Perguntas <span>Frequentes</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div id="accordion">
                    <div class="accordion-item">
                        <div class="accordion-header" data-toggle="collapse" 
                        data-target="#collapse-01">
                            <h3>100% Responsivo</h3>
                        </div>
                        <div class="collapse show" id="collapse-01" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-02">
                            <h3>Flat Modern</h3>
                        </div>
                        <div class="collapse" id="collapse-02" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-03">
                            <h3>Clear Code</h3>
                        </div>
                        <div class="collapse" id="collapse-03" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-04">
                            <h3>FAQ 4</h3>
                        </div>
                        <div class="collapse" id="collapse-04" data-parent="#accordion">
                            <div class="accordion-body">
                                orem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fim FAQ -->
<!-- Inicio Contact -->
<section class="contact section-padding" id="contact" data-scroll-index="5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Fale <span>Conosco</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info">
                    <h3>Duvidas e informações</h3>
                    <div class="contact-info-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <h4>Localização da empresa</h4>
                        <p>Conjunto Raimundo Portela, Teresina - PI</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <h4>Endereço de Email</h4>
                        <p>info@gmail.com</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Número de telefone</h4>
                        <p>99 9999 9999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <form action="{% url 'cliente_novo' %}" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <!--Seguranca-->
                                    {% csrf_token %}
                                    {{ form|bootstrap }}
                                        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-2">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            <!-- alerta -->
        <!-- {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
            {% endfor %}
        {% endif %} -->
        <!--Fim Alerta -->
        </div>
    </div>

</section>
<!-- Fim Contact -->
{% endblock %}